html
	head
		base(href="/")
		if fulltitle
			title #{fulltitle}
		else
			if !title
				- title = "Untitled Page"
			title #{title} | Phantom
		meta(name="keywords" content="")
		meta(name="theme-color" content="#333")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="icon" type="image/png" href="/favicon.png")
		link(rel="stylesheet" href="/css/w3.css")
		link(rel="stylesheet" href="/css/style.css")
		link(rel="stylesheet" href="/css/w3-additions.css")
		script(src=`/js/jquery.min.js`)
		script(src=`/js/NotificationCard.js`)
		if alert && alert != "undefined"
			script.
				$(function(){
					var alertType = '#{alertType}';
					var alert = `#{alert.replace(/'/, '\'')}`;
					var autofade = !{alertAutoFade ? true : false};
					
					if (autofade == 'true' || autofade == true) {
						NotificationCard.show(alert, {type: alertType});
					}
					else {
						NotificationCard.show(alert, {
							ttl: 0, 
							exitable: true, 
							type: alertType
						});
					}
					
					//Remove alert and type from url queries so it doesn't appear again when the user refreshes
					var url = window.location.href;
					
					if( url.indexOf('&') == -1 ){
						var queries = [url.split('?')[1]];
					}
					else{
						var queries = url.split('&');
						queries[0] = queries[0].split('?')[1];
					}
					
					//splice alert and type from queries array
					for(var i = 0; i < queries.length; i++){
						console.log(queries[i].split('='));
						switch(queries[i].split('=')[0]) {
							case 'alert':
							case 'type':
							case 'autofade':
								queries.splice(i, 1);
								i--;
								break;
						}
					}
					
					url = url.split('?')[0]
					
					//add other queries back into url
					if(queries[0]){
						
						url += '?' + queries[0];
						
						for(var i = 1; i < queries.length; i++){
							url += '&' + queries[i];
						}
					}
					
					window.history.replaceState({}, document.title, url);
				});
		if shortagent
			if shortagent.browser == 'IE'
				script.
					setTimeout(function(){
						alert("It appears you are using an unsupported browser. Please use a modern browser (e.g. Chromium, Firefox, Edge, and newer versions of Safari) for Scoutradioz. Note: The site is built for mobile! Try it on your Android or iPhone!");
					}, 20);
	body
		div(id="page" class="w3-auto" style="font-size:1.1em")
			include nav
			main(id="content" class="w3-padding-small")
				block content